body {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

body > main {
    height: 100%;
    flex: 1;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas#map {
    background-color: rgb(255 255 255 / 2%);
    width: 100%;
}

aside#sidebar {
    flex: 0 0 auto;
    max-width: auto;
    width: 0px;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(0 0 0 / 20%);
    backdrop-filter: blur(15px);
    border-right: 2px solid rgb(255 255 255 / 10%);
    transition: width 0.4s ease;
}

button#toggle {
    position: fixed;
    left: 0px;
    top: 0px;
    width: auto;
    padding: 5px 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    transition: left 0.4s ease;
}

aside#sidebar.active {
    width: 350px;
}

aside#sidebar.active + button#toggle {
    left: 350px;
}

aside#sidebar h3 {
    --typography-spacing-vertical: 0.5rem;
}

#parameters {
    padding: 10px 20px;
    width: 350px;
}

output {
    float: right;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(255 255 255 / 10%);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255 255 255 / 10%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255 255 255 / 20%);
}
